.container h1 {
  margin-bottom: 1em;
}
.container ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4.5vw;
}

.container ul li {
  list-style: none;
  padding: 1em;
  background-color: #999999;
  border: 1.5px solid #f29c1f;
  border-radius: 2em;
}

.container ul li span {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1.5px solid #f29c1f;
  padding: 0.3em;
  margin-top: 1vh;
  gap: 1vh;
}

.main_card_pt button {
  cursor: pointer;
  background-color: #25b456;
  color: white;
  border: none;
  font-weight: bold;
  height: 5vh;
  border-radius: .4em;
  font-size: 1em;
  padding: 0 .5em 0 .5em;
  transition: 0.3s;
}

.main_card_pt button a {
  text-decoration: none!important;
  color: #fff;
}

.main_card_pt button:hover {
  background-color: #1c8a42;
}
